*{
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
}
h1 {
    font-size: 2em;
}
h2 {
    margin: 1em;
    font-size: 2em;
    color: #193b52;
    text-decoration: underline 2px #193b52;
    font-family: 'Abril Fatface', 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}
h3 {
    font-size: 1.5em;
    font-family: 'Abril Fatface', 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}
h4 {
    font-family: 'Abril Fatface', 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}
h5 {
    font-size: 1.5em;
}
main { 
    margin: auto; 
    place-content: center;

}
/* HEADER styling*/
header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #59421f;
}
.menu {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    color: #59421f
}

.homepage header a {
    color: white;
    text-decoration: none;
}
.homepage header a:hover {
    text-decoration: underline 2px white;
}
header a { 
    color: #59421f;
}
header a:hover {
    text-decoration: underline 2px #59421f;
}



/* SOCIAL ICONS SIDE styling */
aside {
    position: fixed;
    padding: 2em;
    top: 100px;

  }
  aside img {
    margin: 1em;
    width: 50px;
    background-color: white;
    border-radius: 50px;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  .logo {
    max-height: 4em;
  }
/* FOOTER styling */
footer {
    padding: 1em;
    background-color: #3b5668;
    color: #e7f2fc
}
/* HOMEPAGE styling */

.homepage {
    background-image: url("../img/cover.jpg");
    background-position: cover;
    background-size: contain;
    background-repeat: no-repeat;
}
.cover {
    height: 100vh;
}
.latest {
    margin: 3em;
    padding: 0 250px;
    height: 100vh;
    place-content: center;
    display: flex;
    align-items: center;
}
.new-album {
    background-color: #eeeff0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.new-album div {
    width: 50%;
    padding: 1em;
}
.album {
    width: 100%;
}

.new-video {
    background-color: #d5e5f0;
    height: 90vh;
    text-align: center;
    place-content: center;
    display: flex;
    flex-direction: column;
    align-content: center;
}

/* ABOUT styling */
.about {
    margin-top: 2em;
}
.profile {
    margin: auto;
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex: 1 50%;

    background-color: #193b52;
    color: white;

}
.bio {
    margin: auto;
    display: flex;
    align-content: center;
}
.bio img {
    width: 100%;
}
.bio div {
    padding: 2em;
    width: 50%;
}
.bio p {
    margin: 1em;
}
.bio .prof-pic {
    padding: 0;
}
/* PLAYLIST styling */
.music {
    background-color: #eeeff0;
}
.playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto auto 2em auto;

    max-width: 25%;
    padding: 1rem;
}
.playing-song {
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

h4 {
    margin: auto;
}
.song-buttons {
    width: 30vw;
}
.buttonsPlayer {
    background-color: white;
    border-radius: 100px;
    width: 100%;
    box-shadow: 3px 3px 5px #b5b5b5, -1px -5px 5px #f2f2f2;

    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-self: flex-end;  
}

#cover {
    margin: 0.75rem 0;
    max-width: 15em;
    border-radius: 50%;
    
}

.songlist {
    margin: auto;
    padding: 2em;
    gap: 1em;
    max-width: 60%;
    background-color: rgba(0, 0, 0, 0.2);
} 
#song {
    display: flex;
    justify-content: space-between;
    border-bottom: solid rgba(220, 162, 245, 0.5);
    
    list-style-type: none;

    color: white;
}
.duration  {
    align-self: flex-end;
}
#playThis {
    max-width: 2em;
    max-height: 2em;

}

.Btn {
    height: 45px;
    margin: 1em;
    color: #193b52;
    padding: .25rem;
    max-width: 4em;
    max-height: 4em;
    background-color: #193b52;
    border: none;
    border-radius: 2em;
}

.album-list {
    background-image: url("../img/bg.jpg");
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
.screen {
    height: 100vh;
    padding: 0 250px;
    background-color: rgba(25, 59, 82, .5);
    background-blend-mode: multiply;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: flex;
    flex:auto;

    
}
.album-links a img {
    max-width: 40px;
}
.album-links {
    display: flex;
    justify-content: center;
}
figure {
    margin: 1em;
    width: 40%;
    text-align: center;
}
figure img {
    width: 100%;
}
figcaption {
    margin: .5em;
    color: white;
    font-size: 1.25em;
    font-weight: 500;
}

/* VIDEOS styling */
.video-grid {
    margin: auto;
    place-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.main-video {
    margin: auto;
    grid-column: 1 /3;
}

iframe {
    margin: 1em;
}



@media screen and (max-width: 860px) {
    .homepage {
        background-image: url('../img/cover.jpg');
        background-position: top center;
        background-size: 250%;
        background-repeat: no-repeat;
      }
    .cover {
        height: 80vh;
      }
    .latest {
        padding: 0 0;
        margin: 1em;
        height: 100vh;
      }
    .new-album div {
        width: 100%;
      }
    .social-icons {
        display: flex;
        flex-direction: column;
      }
    aside img {
        margin: 0.2em;
        width: 30px;
        background-color: white;
      }
    aside {
        padding: 0em;
        top: 100px;
    }

    /* About */
    .about {
        margin-top: 2em;
    }
    .profile {
        margin: auto;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        flex: 1 100%;
    
        background-color: #193b52;
        color: white;
    
    }
    .bio {
        margin: auto;
        display: flex;
        flex: column;
        align-content: center;
    }
    .bio img {
        width: 100%;
    }
    .bio div {
        padding: 2em;
        width: 100%;
    }

    /* Playlist */
    .playlist {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2em;
    
        max-width: 85%;
        padding: 0;
    }

    .song-buttons {
        width: 80vw;
    }

    /* Videos */
    .video-grid {
        margin: auto;
        place-content: center;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .main-video {
        margin: auto;
        grid-column: 1 /1;
    }
    
    
.screen {
    height: 100%;
    padding: 0;
    background-color: rgba(25, 59, 82, .5);
    background-blend-mode: multiply;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: flex;
    flex:auto;
}
.album-links a img {
    max-width: 30%;
}
.album-links {
    display: flex;
    justify-content: center;
}
    figure {
        margin: auto;
        width: 80%;
        text-align: center;
        display: flex;
        flex-direction: column;    
    }
    figure img {
        width: 100%;
    }
    figcaption {
        margin: 0;
        color: white;
        font-size: 1em;
        font-weight: 500;
    }
}

  @media screen and (max-width: 580px) {
    body, main {
        padding: 0 0;
        margin: 0;
        place-content: center;

    }
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
    }
    .homepage {
        background-image: url("../img/cover.jpg");
        background-position: top center;
        background-size: 250%;
        background-repeat: no-repeat;
    }
    .cover {
        height: 80vh;
    }
    .latest {
        padding: 0 0;
        margin: 1em;
        height: 100vh;
        align-items: center;
    }
    .new-album div {
        width: 100%;
    }

    .bio {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-content: center;
    
    }
  }